.mybookings-container {
  padding: 40px;
  max-width: 800px;
  margin: auto;
  text-align: center;
}

.bookings-list {
  margin-top: 20px;
}

.booking-card {
  background-color: #f2f2f2;
  padding: 20px;
  margin-bottom: 15px;
  border-radius: 10px;
  text-align: left;
}